:host {
  position: relative;
  padding: 8px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
    border: 4px solid #222;
  }
}

.svg2ts__viewerIconsContainer {
  display: flex;
  flex-wrap: wrap;

  svgts-viewer-icon {
    background-color: #cccccc;
    border-radius: 5px;
    margin: 6px;
    position: relative;
    overflow: hidden;
    min-width: 120px;
    min-height: 120px;
    z-index: 0;
  }

  &[size="3"] {
    svgts-viewer-icon {
      width: calc(33.3% - 12px);
      padding-top: calc(33.3% - 12px);
    }
  }

  &[size="4"] {
    svgts-viewer-icon {
      width: calc(25% - 12px);
      padding-top: calc(25% - 12px);
    }
  }
  &[size="5"] {
    svgts-viewer-icon {
      width: calc(20% - 12px);
      padding-top: calc(20% - 12px);
    }
  }
  &[size="6"] {
    svgts-viewer-icon {
      width: calc(16.66666666666% - 12px);
      padding-top: calc(16.66666666666% - 12px);
    }
  }
  &[size="8"] {
    svgts-viewer-icon {
      width: calc(12.5% - 12px);
      padding-top: calc(12.5% - 12px);
    }
  }
}
