:host {
  background-color: #3c3c3d;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 320px;
  overflow: hidden;
  overflow-y: auto;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  width: 100%;

  &::-webkit-scrollbar {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
    border: 4px solid #3c3c3d;
  }
}

.svg2ts__sidebarNavbar {
  background-color: #3c3c3d;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  display: inline-flex;
  height: 36px;
  margin-bottom: 8px;
  min-height: 36px;
  padding-top: 10px;
  position: sticky;
  top: 0;
  z-index: 1;

  .svg2ts__sidebarNavbarIcon {
    height: 24px;

    svg {
      cursor: pointer;
      fill: rgba(#c6c8c8, 0.5);
      height: 18px;
      width: 18px;

      &:hover {
        fill: #fff;
      }

      &.-selected {
        fill: #fff;
      }
    }
  }
}

.svg2ts__sidebarButtonGroup {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: flex;
  margin-bottom: 8px;
  padding: 4px;

  &.-inline {
    display: inline-block;
    margin-right: 4px;
    min-height: 44px;
  }
  button:not(:first-child) {
    margin-left: 2px;
  }
}

.svg2ts__sidebarSelectList {
  li {
    background-color: #288edf;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 4px;
    margin-right: 2px;
    padding: 2px 4px;
    pointer-events: none;
    user-select: none;

    &::after {
      content: '×';
      cursor: pointer;
      pointer-events: all;
    }

    &:hover {
      &::after {
        color: white;
      }
    }
  }
}

.svg2ts__sidebarSpacer {
  height: 100%;
}

.svg2ts__sidebarLogo {
  bottom: 48px;
  color: hsl(0, 0%, 0%);
  fill: none;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
  pointer-events: none;
  position: absolute;
}
