<svg width="100%" height="100%" class="svgTs__sidebarLogo"><use href="#svgTsIcon__logo" /></svg>
<div class="svgTs__sidebarNavbar">
  <div class="svgTs__sidebarNavbarIcon" title="Small Grid">
    <svg (click)="showGrid(3)" [ngClass]="{ '-selected': gridSize === 3 }"><use href="#svgTsIcon__grid1" /></svg>
  </div>
  <div class="svgTs__sidebarNavbarIcon" title="Medium Grid">
    <svg (click)="showGrid(4)" [ngClass]="{ '-selected': gridSize === 4 }"><use href="#svgTsIcon__grid2" /></svg>
  </div>
  <div class="svgTs__sidebarNavbarIcon" title="Big Grid">
    <svg (click)="showGrid(5)" [ngClass]="{ '-selected': gridSize === 5 }"><use href="#svgTsIcon__grid3" /></svg>
  </div>
  <div style="line-height: 16px; padding: 0 4px; opacity: .3;">|</div>
  <div class="svgTs__sidebarNavbarIcon" title="Select All">
    <svg (click)="select('all')"><use href="#svgTsIcon__selectAll" /></svg>
  </div>
  <div class="svgTs__sidebarNavbarIcon" title="Clear Selection">
    <svg (click)="select('none')"><use href="#svgTsIcon__selectNone" /></svg>
  </div>
  <div style="width:100%"></div>
  <div class="svgTs__sidebarNavbarIcon" title="Show All">
    <svg (click)="colorMode('all')" [ngClass]="{ '-selected': this.icons.iconColorFilter$.value === 'all' }">
      <use href="#svgTsIcon__all" />
    </svg>
  </div>
  <div class="svgTs__sidebarNavbarIcon" title="Show Single Color">
    <svg
      (click)="colorMode('single')"
      [ngClass]="{
        '-selected': this.icons.iconColorFilter$.value === 'single'
      }"
    >
      <use href="#svgTsIcon__single" />
    </svg>
  </div>
  <div class="svgTs__sidebarNavbarIcon" title="Show Multiple Color">
    <svg
      (click)="colorMode('multiple')"
      [ngClass]="{
        '-selected': this.icons.iconColorFilter$.value === 'multiple'
      }"
    >
      <use href="#svgTsIcon__multiple" />
    </svg>
  </div>
  <div class="svgTs__sidebarNavbarIcon" title="Show Dynamic">
    <svg
      (click)="colorMode('dynamic')"
      [ngClass]="{
        '-selected': this.icons.iconColorFilter$.value === 'dynamic'
      }"
    >
      <use href="#svgTsIcon__dynamic" />
    </svg>
  </div>
</div>

<div class="svgTs__fieldSet -tree" *ngIf="icons.currentComponent">
  <div class="svgTs__legend">
    <div style="width:100%;">current</div>
    <div
      title="Bundle asset in module"
      style="text-align: right; margin-right: 8px;"
      class="svgTs__sidebarButtonGroup"
      *ngIf="!icons.currentIconFile?.contextDefaults && iconsData.isPluging && icons.browsingMode === 'module'"
    >
      <label class="svgTs__label"
        ><span class="svgTs__labelTitle">bundle</span>
        <input
          type="checkbox"
          class="svgTs__textInput"
          [checked]="icons.currentIconFile?.exported"
          (change)="toggleExport()"
        />
      </label>
    </div>
    <div class="svgTs__sidebarButtonGroup">
      <button class="svgTs__button -small" (click)="copyIcon('angular')" title="Copy Angular component">
        <svg width="100%" height="100%" fill="#c6c8c8"><use href="#svgTsIcon__angular" /></svg>
      </button>
      <button class="svgTs__button -small" (click)="copyIcon('svg')" title="Copy svg code">
        <svg width="100%" height="100%" fill="#c6c8c8"><use href="#svgTsIcon__svg" /></svg>
      </button>
      <button class="svgTs__button -small" (click)="copyIcon('css')" title="Copy background encoded svg css">
        <svg width="100%" height="100%" fill="#c6c8c8"><use href="#svgTsIcon__css3" /></svg>
      </button>
    </div>
  </div>
  <div>
    <label class="svgTs__label" *ngFor="let key of infoKeys">
      <span class="svgTs__labelTitle">{{ key }}</span>
      <input
        type="text"
        class="svgTs__textInput -block"
        readonly
        [attr.value]="icons.currentIconFile ? icons.currentIconFile[key] : ''"
      />
    </label>

    <label class="svgTs__label">
      <span class="svgTs__labelTitle">viewbox</span>
      <input
        type="text"
        class="svgTs__textInput -block"
        readonly
        [attr.value]="icons.currentIconFile ? getCurrentViewBox() : ''"
      />
    </label>
  </div>
</div>
<div class="svgTs__fieldSet -tree" *ngIf="icons.selected > 0">
  <div class="svgTs__legend">
    export <sup>({{ icons.selected }})</sup>
  </div>
  <div
    class="svgTs__sidebarButtonGroup -inline"
    *ngIf="icons.selectedAreSingle || icons.selectedAreSingleOrBicolor"
    [formGroup]="baseColorFormGroup"
  >
    <div style="display: inline-block;">
      <input type="color" class="svgTs__textInput -big" readonly formControlName="baseColor" title="Fill Color" />
    </div>
    <div style="display: inline-block;" [hidden]="icons.selectedAreSingleOrBicolor">
      <input
        type="color"
        class="svgTs__textInput -big"
        [ngClass]="{ '-colorReset': baseColorFormGroup.get('currentColor').value === null }"
        readonly
        formControlName="currentColor"
        title="Current Color"
      />
      <button class="svgTs__button -big" style="padding: 0 4px;" (click)="clearCurrentColor()">×</button>
    </div>
  </div>
  <div class="svgTs__sidebarButtonGroup -inline">
    <button (click)="export('png', 1)" class="svgTs__button -big" title="Export PNG">png</button>
    <button (click)="export('png', 2)" class="svgTs__button -big" title="Export 2@x PNG">2x</button>
    <button (click)="export('png', 3)" class="svgTs__button -big" title="Export 3@x PNG">3x</button>
  </div>
  <div class="svgTs__sidebarButtonGroup -inline">
    <button (click)="export('svg', 1)" class="svgTs__button -big" title="Export SVG">svg</button>
    <button (click)="export('svg-sprite', 1)" class="svgTs__button -big" title="Export SVG Sprite">sprite</button>
  </div>

  <ul class="svgTs__sidebarSelectList">
    <li (click)="deselectByName(name)" *ngFor="let name of icons.selectedNames">{{ name }}</li>
  </ul>
</div>

<ng-container *ngIf="icons.currentIconFile?.contextDefaults && icons.currentComponent?.detail">
  <svgts-viewer-form
    [dataObject]="{
      current: icons.currentIconFile,
      currentComponent: icons.currentComponent
    }"
  ></svgts-viewer-form>
</ng-container>
