<div
  class="svgTs__viewerIconContainer"
  (click)="iconClick()"
  (dblclick)="showDetail()"
  title="info.......(click)&#013;detail....(dblclick)&#013;select...(⌘+click)"
>
  <svg
    height="100%"
    width="100%"
    [attr.class]="icon.svgHash + '-0'"
    [attr.viewBox]="getViewBox()"
    [innerHTML]="svgContents"
    #svgIcon
  ></svg>
</div>

<span class="svgTs__viewerIconMeta">{{ iconFile.viewBox.width }}x{{ iconFile.viewBox.height }}</span>

<svg width="24" height="24" class="svgTs__viewerIconSelection" (click)="toggleSelection()">
  <use xlink:href="#svgTsIcon__check"></use>
</svg>

<svg width="24" height="24" class="svgTs__export" *ngIf="mustShowExportIcon()">
  <use xlink:href="#svgTsIcon__export"></use>
</svg>
