:host {
  background-color: #c6c8c8;
  border-radius: 5px;
  display: block;
  margin: 6px;
  min-height: 120px;
  min-width: 120px;
  overflow: hidden;
  position: relative;
  z-index: -1;

  &[hidden] {
    display: none;
  }

  .svgTs__viewerIconContainer {
    cursor: pointer;
    height: 100%;
    left: 0;
    padding: 24px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .svgTs__viewerIconMeta {
    background-color: rgba(#fff, 0.6);
    border-radius: 4px;
    bottom: 8px;
    display: none;
    font-size: 12px;
    left: 8px;
    padding: 0px 4px;
    position: absolute;
    user-select: none;
    color: black;
    font-weight: bold;
  }

  .svgTs__viewerIconSelection {
    cursor: pointer;
    display: none;
    fill: #aaa;
    position: absolute;
    right: 8px;
    top: 8px;

    &:hover {
      fill: #000;
    }
  }

  &:hover {
    box-shadow: 0 0 0 4px #d77120;
    z-index: 1;

    .svgTs__viewerIconMeta,
    .svgTs__viewerIconSelection {
      display: block;
    }
  }

  &.-detail {
    background-color: #c6c8c8 !important;
    border-radius: 0 !important;
    border: 0 !important;
    height: 100vh !important;
    height: 100vh;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    top: 0;
    width: 100% !important;
    width: calc(100% - 320px) !important;
    z-index: 1 !important;

    &:hover {
      box-shadow: none;
    }
  }

  &.-selected {
    box-shadow: 0 0 0 4px #288edf !important;

    .svgTs__viewerIconSelection {
      display: block;
      fill: #000;
      &:hover {
        fill: #000;
      }
    }

    &.-detail {
      box-shadow: none;
    }
  }
}

.svgTs__export {
  fill: #000;
  left: 8px;
  position: absolute;
  top: 8px;
}
