<div
  class="svg2ts__viewerIconContainer"
  (click)="iconClick()"
  (dblclick)="showDetail()"
  title="info.......(click)&#013;detail....(dblclick)&#013;select...(⌘+click)"
>
  <svg
    [attr.width]="iconFile.width"
    [attr.height]="iconFile.height"
    [attr.viewBox]="getViewBox()"
    [innerHTML]="svgContents"
  ></svg>
</div>
<span class="svg2ts__viewerIconMeta">{{ iconFile.viewBox.width }}x{{ iconFile.viewBox.height }}</span>
<svg width="24" height="24" class="svg2ts__viewerIconSelection" (click)="toggleSelection()">
  <use xlink:href="#svg2tsIcon__check"></use>
</svg>

<svg width="24" height="24" class="svg2ts__export" *ngIf="icon.exported">
  <use xlink:href="#svg2tsIcon__export"></use>
</svg>
