:host {
  background-color: #c6c8c8;
  border-radius: 5px;
  margin: 6px;
  position: relative;
  overflow: hidden;
  min-width: 120px;
  min-height: 120px;
  z-index: -1;
  display: block;

  &[hidden] {
    display: none;
  }

  .svg2ts__viewerIconContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 24px;
  }
  .svg2ts__viewerIconMeta {
    position: absolute;
    left: 8px;
    bottom: 8px;
    display: none;
    font-size: 12px;
    background-color: rgba(#fff, 0.6);
    padding: 0px 4px;
    border-radius: 4px;
    user-select: none;
  }

  .svg2ts__viewerIconSelection {
    fill: #aaa;
    position: absolute;
    right: 8px;
    top: 8px;
    display: none;
    cursor: pointer;

    &:hover {
      fill: #000;
    }
  }

  &:hover {
    box-shadow: 0 0 0 4px #d77120;
    z-index: 1;
    .svg2ts__viewerIconMeta,
    .svg2ts__viewerIconSelection {
      display: block;
    }
  }

  &.-detail {
    width: 100% !important;
    height: 100vh !important;

    position: fixed !important;
    width: calc(100% - 320px) !important;
    height: 100vh;
    background-color: #c6c8c8 !important;
    left: 0;
    top: 0;
    z-index: 1 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    &:hover {
      box-shadow: none;
    }
  }

  &.-selected {
    box-shadow: 0 0 0 4px #288edf !important;
    .svg2ts__viewerIconSelection {
      fill: #000;
      display: block;
      &:hover {
        fill: #000;
      }
    }
    &.-detail {
      box-shadow: none;
    }
  }
}

.svg2ts__export {
  position: absolute;
  left: 8px;
  top: 8px;
  fill: #000;
}
