<div class="svg2ts__fieldSet -tree">
  <div class="svg2ts__legend">
    <div>{{ nestedFormKey }}</div>
    <ng-content></ng-content>
  </div>

  <div [formGroup]="nestedFormGroup">
    <div *ngFor="let control of (nestedFormGroup.controls | keyvalue: compare)">
      <ng-container *ngIf="!isFormGroup(control.value)">
        <label [attr.for]="control.key" class="svg2ts__label">
          <span
            class="svg2ts__labelTitle"
            *ngIf="nestedFormMeta[control.key].type !== 'child'"
            >{{ nestedFormMeta[control.key].label }}</span
          >
          <ng-container [ngSwitch]="nestedFormMeta[control.key].type">
            <svgts-drag-input
              *ngSwitchCase="'integer'"
              [formControlName]="control.key"
              [unit]="nestedFormMeta[control.key].unit"
              class="-block svg2ts__viewerFormSpacer"
            ></svgts-drag-input>
            <svgts-drag-input
              *ngSwitchCase="'float'"
              [formControlName]="control.key"
              [unit]="nestedFormMeta[control.key].unit"
              class="-block svg2ts__viewerFormSpacer"
            ></svgts-drag-input>
            <input
              *ngSwitchCase="'color.short'"
              [formControlName]="control.key"
              type="color"
              class="svg2ts__textInput -block svg2ts__viewerFormSpacer"
            />
            <input
              *ngSwitchCase="'color.long'"
              [formControlName]="control.key"
              type="color"
              class="svg2ts__textInput -block svg2ts__viewerFormSpacer"
            />
            <input
              *ngSwitchCase="'color.name'"
              [formControlName]="control.key"
              type="color"
              class="svg2ts__textInput -block svg2ts__viewerFormSpacer"
            />
            <input
              *ngSwitchCase="'rgba'"
              [formControlName]="control.key"
              type="color"
              class="svg2ts__textInput -block svg2ts__viewerFormSpacer"
            />
            <textarea
              *ngSwitchCase="'text.long'"
              [formControlName]="control.key"
              type="text"
              class="svg2ts__textInput -block svg2ts__viewerFormSpacer"
            ></textarea>
            <input
              *ngSwitchCase="'text.short'"
              [formControlName]="control.key"
              type="text"
              class="svg2ts__textInput -block svg2ts__viewerFormSpacer"
            />
          </ng-container>
        </label>
        <div
          class="error"
          *ngIf="
            nestedFormGroup.get(control.key).invalid &&
            (nestedFormGroup.get(control.key).dirty ||
              nestedFormGroup.get(control.key).touched)
          "
        >
          <div *ngIf="nestedFormGroup.get(control.key).errors">
            {{ nestedFormMeta[control.key].label }} is required.
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="isFormGroup(control.value)">
        <svgts-viewer-nested-form
          [nestedFormGroup]="control.value"
          [nestedFormMeta]="nestedFormMeta[control.key]"
          [nestedFormKey]="control.key"
        ></svgts-viewer-nested-form>
      </ng-container>
    </div>
  </div>
</div>
